<section class="todoapp">
  <header class="header">
    <div class="container">
      <h2>My Day</h2>
      <p>All my tasks in one place</p>
      <h1>{{filter()}}</h1>
      <input
        class="new-todo"
        placeholder="Type new todo"
        autofocus
        type="text"
        [formControl]="newTaskCtrl"
        (keydown.enter)="changeHandler()"
      />
      <div *ngIf="newTaskCtrl.errors">
        <p *ngIf="newTaskCtrl.errors['required']">⚠️ Campo obligatorio</p>
        <p *ngIf="newTaskCtrl.errors['minlength']">Mínimo 3 caracteres</p>
        <p *ngIf="newTaskCtrl.errors['maxlength']">Máximo 50 caracteres</p>
        <p *ngIf="newTaskCtrl.errors['hasWhitespace']">
          ¡No se permiten espacios!
        </p>
      </div>
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <pre>
      <code>
        {{tasks()| json}}
      </code>
    </pre>
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
      <ul class="todo-list">
        <li
          (dblclick)="updateTaskEditingMode(i)"
          [class.editing]="task.editing"
          [class.completed]="task.completed"
          *ngFor="let task of tasksByFilter(); index as i"
        >
          <div class="view">
            <input
              class="toggle"
              type="checkbox"
              title="Mark as completed"
              [checked]="task.completed"
              (click)="toggleChecked(i)"
            />
            <label>{{ task.title }}</label>
            <button
              class="destroy"
              title="Delete task"
              (click)="deleteTask(i)"
            ></button>
          </div>
          <input
            class="edit"
            (keydown.enter)="updateTaskText(i,$event)"
            [value]="task.title"
            title="Edit task"
            placeholder="Edit task"
          />
        </li>
        <!-- <li class="completed">
            <div class="view">
              <input class="toggle" type="checkbox" checked title="Mark as completed" />
              <label>Learn JavaScript</label>
              <button class="destroy" title="Delete task"></button>
            </div>
            <input class="edit" value="Learn JavaScript" title="Edit task" placeholder="Edit task" />
          </li>
          <li>
            <div class="view">
              <input class="toggle" type="checkbox" title="Mark as completed" />
              <label>Buy a unicorn</label>
              <button class="destroy" title="Delete task"></button>
            </div>
            <input class="edit" value="Buy a unicorn" title="Edit task" placeholder="Edit task" />
          </li>
          <li class="editing">
            <div class="view">
              <input class="toggle" type="checkbox" title="Mark as completed" />
              <label>Make dishes</label>
              <button class="destroy" title="Delete task"></button>
            </div>
            <input class="edit" value="Make dishes" title="Edit task" placeholder="Edit task" />
          </li> -->
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"
        ><strong>{{ tasks().length }}</strong>
        <span *ngIf="tasks().length === 1; else elseblock"> item </span>
        <ng-template #elseblock> items </ng-template>
        left</span
      >
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a (click)="changeFilter('all')" class="selected">All</a>
        </li>
        <li>
          <a (click)="changeFilter('pending')">Pending</a>
        </li>
        <li>
          <a (click)="changeFilter('completed')">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed">Clear completed</button>
    </footer>
  </div>
</section>
